body {
    margin: 0;
}

.welPageAll {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    height: 950px;
}

.welPage {
    display: flex;
    flex-direction: column;
    background-image: url(/todoList/src/main/webapp/img/signup/XXXX.png);
    height: 810px;
    width: 700px;
    background-size: cover;
}

.top {
    flex-basis: 40%;
}

.top img {
    margin-top: 30px;
    margin-left: 150px;
}

.bottom {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}

.welMain {
    width: 490px;
    height: 360px;
    background-image: url(/todoList/src/main/webapp/img/signup/wel.1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.wel1 {
    flex-basis: 35%;
}

.wel1 img {
    margin-top: 45px;
    margin-left: 175px;
}

.wel2 {
    flex-basis: 10%;
    display: flex;
}

.name {
    height: auto;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wel3 {
    flex-basis: 10%;
    display: flex;
}

.year {
    height: auto;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wel4 {
    flex-basis: 10%;
    display: flex;
}

.id {
    height: auto;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wel5 {
    flex-basis: 10%;
    display: flex;
}

.pw {
    height: auto;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wel6 {
    flex-basis: 25%;
    display: flex;
}

.wel6 img {
    width: 90px;
    height: 60px;
    margin-top: 15px;
    margin-left: 195px;
}

.search-input {
    margin-left: 12px;
    border-radius: 25px;
    width: 250px;
    height: 30px;
}
